<div class="container-fluid" ng-controller="DashboardCtrl as dash" style="padding-top: 90px;">
	<div class="row">
		<div class="col-md-12"> 
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item active">
						<img src="assets/img/chancellorsPost1.jpg" style="width:100%;">
					</div>

					<div class="item">
						<img src="assets/img/chancellorsPost4.jpg" style="width:100%;">
					</div>

					<div class="item">
						<img src="assets/img/chancellorsPost3.jpg" style="width:100%;">
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- jumbotron -->
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<!-- <h2 class="display-4">Vision and Core Values</h2> -->
			<div class="row" style="padding-top: 50px;">
				<div class="col-md-6 text-center">
					<h4>Vision</h4>
					<p>Democratize quality education.</p>
					<p>Be the visionary and industry leader.</p>
					<p>Give hope and transform lives.</p>
				</div>
				<div class="col-md-6 text-center">
					<h4>Core Values</h4>
					<p>Innovation</p>
					<p>Cammaraderie</p>
					<p>Alignment</p>
					<p>Respect</p>
					<p>Excellence</p>
				</div>
			</div>
		</div>
	</div>
</div>



<!-- <div class="center-block text-center" style="padding-top: 90px; padding-bottom: 200px;">
		<div class="row">
			<div class="col-md-12">
				<img src="assets/img/UC logo1.png">
				<div class="col-md-12">
					<a href="#!login" class="btn btn-primary">Log in</a>
					<a href="#!signup" class="btn btn-secondary">Sign up</a>
				</div>	
			</div>
		</div>
	</div> -->