<div class="container-fluid" ng-controller="LandingCtrl as landing">
	
	<div class="row" id="landingView">
		<div class="col-md-4">
			<img src="assets/img/UC logo1.png" id="logo">
		</div>
		<div class="col-md-6" id="LoginFrm">
			<form name="frm" novalidate="novalidate">
				<div class="form-group has-float-label" id="loginFrm">
					<input type="text" 
						   class="form-control" 
						   id="idNumber" 
						   placeholder="12345678">
						   <label for="idNumber" id="idNumber">ID number</label>
				</div>
				<div class="form-group has-float-label" id="loginFrm">
					<input type="password" 
						   class="form-control" 
						   id="password" 
						   placeholder="••••••••">
						   <label for="password" id="password">Password</label>
				</div>
				<button class="btn btn-primary" ng-click="landing.go('/dashboard')">Login</button>
				<button class="btn btn-secondary" ng-click="landing.go('/signup')">Signup</button>
			</form>
		</div>
	</div>
</div> 
