<div class="container-fluid" ng-controller="RegisterCtrl" style="padding-top: 50px;">
	<h2 style="padding-top: 15px;padding-left: 30px;">Employee registration</h2>
	<div class="row">
		<form id="reg_form" style="padding: 30px;" ng-submit="insertData()">
			<fieldset>
				<div class="col-md-6">
					<div class="form-group" style="padding-top: 48px;">
						<video id="player" width=410 height=300 controls autoplay></video>
						<button style="font-size: 15px;" class="btn btn-secondary" id="capture">Capture</button>
						<canvas id="canvas" width=320 height=240"></canvas>
						<input id="url">
						<!-- <div id="png"></div> -->
					</div>
				</div>
				<div>
					<div class="col-md-6">
						<div class="row" style="padding-bottom: 15px;padding-top: 10px;padding-right: 20px;">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group has-float-label" id="forms">
									<input type="text" 
									class="form-control" 
									id="idNumber" 
									ng-model="register.idNumber"
									placeholder="12345678" style="font-size: 15px;padding-left: 15px;">
									<label style="font-size: 15px;" for="idNumber" id="idNumber">ID number</label>
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group has-float-label" id="forms">
									<input type="text" 
									class="form-control" 
									id="firstname" 
									ng-model="register.firstname"
									placeholder="Mickey" style="font-size: 15px;padding-left: 15px;">
									<label  style="font-size: 15px;" for="firstname" id="firstname">First name</label>
								</div>
							</div>
						</div>
						<div class="row" style="padding-bottom: 15px;padding-right: 20px;">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group has-float-label" id="forms">
									<input type="text" 
									class="form-control" 
									id="lastname" 
									ng-model="register.lastname"
									placeholder="Mouse" style="font-size: 15px;padding-left: 15px;">
									<label style="font-size: 15px;" for="lastname" id="lastname">Surename</label>
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group has-float-label" id="forms">
									<input type="text" 
									class="form-control" 
									id="middlename" 
									ng-model="register.middlename"
									placeholder="Lincoln" style="font-size: 15px;padding-left: 15px;">
									<label style="font-size: 15px;" for="middlename" id="middlename">Middle name</label>
								</div>
							</div>
						</div>
						<div class="row" style="padding-bottom: 15px;padding-right: 20px;">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group" id="forms">
									<select required class="form-control" id="position"
									ng-model="register.position">
									<option value=""
									hidden
									>Position</option>

									<!-- normal options -->
									<option value="faculty">Faculty</option>
									<option value="staff">Staff</option>
									<option value="working">Working</option>
								</select>
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6">
							<div class="form-group has-float-label" id="forms">
								<select required class="form-control" id="gender"
								ng-model="register.gender">
								<option value=""
								hidden
								>Gender</option>

								<!-- normal options -->
								<option value="female">Female</option>
								<option value="male">Male</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row" style="padding-bottom: 15px;padding-right: 20px;">
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="form-group has-float-label" id="forms">
							<input type="email" 
							class="form-control" 
							id="email"
							ng-model="register.email" 
							placeholder="address"  style="font-size: 15px;padding-left: 15px;">
							<label style="font-size: 15px;" for="email" id="email">Email</label>
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="form-group has-float-label" id="forms">
							<input type="text" 
							class="form-control" 
							id="contactNumber" 
							ng-model="register.contactNumber"
							placeholder="Number" style="font-size: 15px;padding-left: 15px;">
							<label style="font-size: 15px;" for="contactNumber" id="contactNumber">Contact</label>
						</div>
					</div>
				</div>
				<div class="row" style="padding-bottom: 15px;padding-right: 20px;">
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="form-group has-float-label" id="forms">
							<input type="password" 
							class="form-control" 
							id="password"
							ng-model="register.password" 
							placeholder="••••••••" style="font-size: 15px;padding-left: 15px;">
							<label style="font-size: 15px;" for="password" id="password">Password</label>
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="form-group has-float-label" id="formsLast">
							<input type="password" 
							class="form-control" 
							id="confirmPassword" 
							ng-model="confirmPassword"
							placeholder="••••••••" style="font-size: 15px;padding-left: 15px;">
							<label style="font-size: 15px;" for="confirmPassword" id="confirmPassword">Confirm password</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
	<!-- <input type="submit"> -->
	<button class="btn btn-primary"  ng-click="insertData(register.idNumber,register.firstname,register.lastname,register.middlename,register.position,register.gender,register.email,register.contactNumber,register.password)">Register</button>
		</form>
	</div>
</div>