/*landing page*/
#landingView{
	min-height: 100vh;
	min-width: 100vw; 
	background-color:#5FDF9B;
}
#logo{
	width: 100%;
	height: auto;
	margin-left: 170px;
	margin-top: 150px;
	display: inline-block;
}

#LoginFrm{
	margin-top: 190px;
	padding-left: 200px;
	display: block;

}

#loginFrm{
	padding-bottom: 23px;
	font-size: 13px;
}

/*end of landing page*/

/*signup page*/

#signupH1{
	font-family: Century Gothic;
	margin-top: 30px;
	margin-left: 20px;
}

#signupFrm{
	padding: 5px;
}

#SignupFrm{
	padding-left: 100px;
	margin-top: 80px;
	display: inline-block;
	font-family: Century Gothic;
	font-size: 13px;
}

#signupLabel{
	padding-top: 5px;
	padding-left: 5px;
	font-size: 20px;
}

#signupSelect{
	padding-left:10px;
	padding-top: 5px;
}